<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.eagle.eye.backend.domain.mapper.AlertMapper">

    <select id="getPage" resultType="com.sms.eagle.eye.backend.response.alert.AlertResponse">
        select alert.id,
               alert.task_name,
               alert.project,
               alert.description,
               plugin.name pluginName,
               alert.utc_alert_time alert_time
        from alert
                 left join task on alert.task_id = task.id
                 left join plugin on task.plugin_id = plugin.id
        <where>
            alert.is_deleted = false
            <if test="request.taskName != null">
                and alert.task_name ilike ('%' || #{request.taskName} || '%')
            </if>
            <if test="request.project != null">
                and alert.project ilike ('%' || #{request.project} || '%')
            </if>
        </where>
        order by alert.utc_alert_time desc
    </select>
</mapper>
