<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.eagle.eye.backend.domain.mapper.TaskGroupMapper">
    <update id="moveGroupBack">
        update task_group
        set index = index + #{step}
        where is_deleted = false
          and parent_id = #{parentId}
          and index &gt; #{fromIndex}
        <if test="toIndex != null">
            and index &lt; #{toIndex}
        </if>
    </update>
    <update id="moveGroupForward">
        update task_group
        set index = index - #{step}
        where is_deleted = false
        and parent_id = #{parentId}
        and index &gt; #{fromIndex}
    </update>

    <select id="selectCountByName" resultType="java.lang.Integer">
        select count(1)
        from task_group
        where lower(name) = #{name}  and is_deleted = false
    </select>
    <select id="selectMaxIndexByParentId" resultType="java.lang.Integer">
        select max(index)
        from task_group
        where parent_id = #{parentId} and is_deleted = false
    </select>
</mapper>
