<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.eagle.eye.backend.domain.mapper.TaskMapper">

    <select id="getPage" resultType="com.sms.eagle.eye.backend.response.task.TaskResponse">
        select task.id,
               task.name,
               task.description,
               task.creator,
               task.project,
               task.plugin_id,
               task.schedule_interval,
               task.schedule_unit,
               task.status,
               task.alarm_level,
               task.plugin_config,
               task.utc_create_time createTime
        from task
         inner join plugin on task.plugin_id = plugin.id
        <where>
            task.is_deleted = false and plugin.is_deleted = false
            <if test="request.name != null">
                and task.name ilike ('%' || #{request.name} || '%')
            </if>
            <if test="request.creator != null">
                and task.creator ilike ('%' || #{request.creator} || '%')
            </if>
            <if test="request.project != null">
                and task.project ilike ('%' || #{request.project} || '%')
            </if>
            <if test="request.pluginId != null">
                and task.plugin_id = #{request.pluginId}
            </if>
            <if test="groups != null and groups.size() &gt; 0">
                and task.id in (
                select task_id from task_group_mapping tgm where tgm.group_id in
                <foreach item="item" index="index" collection="groups" open="(" close=")"
                    separator=",">
                    #{item}
                </foreach>
                )
            </if>
        </where>
        order by task.utc_create_time desc
    </select>
    <select id="getByName" resultType="com.sms.eagle.eye.backend.domain.entity.TaskEntity">
        select id, name, plugin_id
        from task
        where lower(name) = #{name} and is_deleted = false
        order by task.utc_create_time desc
        limit 1
    </select>
    <select id="selectCountByName" resultType="java.lang.Integer">
        select count(1)
        from task
        where lower(name) = #{name} and is_deleted = false
    </select>
    <select id="getTaskStatusById" resultType="java.lang.Integer">
        select status from task where id = #{id} and is_deleted = false
    </select>
    <select id="getTaskListByPluginAndStatus" resultType="java.lang.Long">
        select id from task where is_deleted = false and plugin_id = #{pluginId} and status = #{status}
    </select>
</mapper>
