<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.eagle.eye.backend.domain.mapper.UserPermissionMapper">

    <select id="getPermissionByEmail" resultType="java.lang.String">
        select p.name
        from user_permission up
                 join permission_group_conn pg on up.permission_group_id = pg.group_id
                 join permission p on pg.permission_id = p.id
        where up.email = #{email}

    </select>

</mapper>
